body, html {
  height: 100%;
  width: 100%;
  max-width: 1326px;
  font-size: 12px;
  background-color: #8F98A9;
  font-family: Arial, serif;
  font-family: 'Raleway', sans-serif;
}

h1, h2{
  font-weight: bolder;
  font-size: 1.5rem;
}
p{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
h2 {
  text-transform: uppercase;
  text-align: center;
}

section h4 {
  font-weight: bolder;
  margin-bottom: 0;
}
section h5 {
  margin-top: 5px;
  font-weight: bold;
}
header {
  height: 50%;
}
aside {
  height: 50%;
  transform: translateY(-50%);
}
.navbar {
  background-color: #2B353E;
  height: 40%;
}
.secao-corpo{
  margin-top: 25%;
  border-top: 1px solid grey;
}
.secao-corpo h2:first-child{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
#foto-principal {
  width: 150px;
  border-radius: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

}
#info {
  transform: translateY(-20%);
  z-index: -1;
}
#collapse-navbar{
 background-color: #2B353E;
 
}


.hobbie-icon {
  margin-top: 10%;
  height: 50px;
}
#hobbies h2 {
  margin-top: 5%;
  border-bottom: 1px solid white;
  padding-bottom: 3%;
}
#info h1, #info h5  {
  text-align: center;
}
.rede-social img {
  padding: 5px;
}

#habilidades{
  height: 110%;
}
#hobbies {
  padding-top: 20px;
}

aside {
  transition: 0.5s;
}

#collapse-navbar {
  border: none;
}

.hobbies-hide {

  transition: 0.3s;
  opacity: 0;

}


@media (min-width: 1024px) {
  body, html {
    min-height: 670px;
    max-width: 1544px;
    margin:0;
    width: 100%;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 0;
  }
  h5{
   font-size: 1.5rem;
 }
 .navbar {
  width: 100%;
}
.secao-corpo{
  opacity: 0;
  border: 0;
  visibility: hidden;
  transform: translate3d(-100px,0,0);
  position: absolute;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;

}
.secao-ativa{
  opacity: 1;
  visibility: visible;
  transition: 1s;
  position: relative;
  top: auto;
  padding-left: 3%;
  transform: translate3d(0,0,0);
}


#icon-cook {
  transform: translate(60%,100%);
}
#icon-travel {
  transform: translate(-60%, 100%);
}
#icon-game {
  transform: translate(-50%, 200%);
}
#icon-bike {
  transform: translate(50%, 0%);
}
#experiencia-profissional h2 {
  padding-bottom: 10px;
}
#experiencia-profissional, #habilidades {
  height: 60%;
}


header {
  background-color: #2B353E;
  height: 10%;
  width: 100%;
}
.nav {
  margin-left: 10rem;

  height: 15px;
}
.navbar li{
  border: 0px solid black;
}

.secao-corpo{
  float: left;
}
.navbar {
  margin-bottom: 0;
  border: 0px solid white;
}
aside{
  float: left;
  width: 320px;
  height: 100%;
  transform: translate(0,0);
  position: relative;
  color: white;
  float: left;
  background-color: #2B353E;

}
#info h1, #info h5{
  text-align: center;
}
#info p  {
  text-align: left;
}

#info {
  text-align: left;
  width: 25%;
  transform: translate(0, 0);
}
.descricao-detalhe{
  padding-top: 30px;
}
#foto-principal {
  border-radius: 100%;
  margin-left: 50%;
  border-radius: 0;
  width: 60%;
}
.navbar-collapse{
  margin-left: 50px;
}


#collapse-navbar ul {
  margin-left: 27%;
  margin-top: 3%;
  border: none;

}
#collapse-navbar ul li{
 padding-right: 2rem;

 }
#collapse-navbar ul li a {
 
  background-color: #8F98A9;
  border-bottom: none;
  color: #2B353E;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateY(-40%);
  border-top-left-radius: 15%;
  border-top-right-radius: 10%;

}

#collapse-navbar ul li .botao-ativo{
  transform: translateY(-20%);
}

}









/*       Barras de Skills animadas           */
.skillbar {
  position:relative;
  display:block;
  margin-bottom:5px;
  width:100%;
  background: rgba(255,255,255,0.5);
  height:15px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.
  border-radius:3px;
  -moz-border-radius:3px;4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.3s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
  z-index: -1;
}
.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:10px;
  font-weight:bold;
  font-size:9px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 10px;
  height: 15px;
  line-height:10px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.skillbar-bar {
  height:15px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:10px;
  line-height:10px;
  color: black;
}
