
body, html {
  height: 100%;
  width: 100%;
  max-width: 1326px;
  font-size: 16px;
  background-color: #8F98A9;
  font-family: Arial, serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Cuprum', sans-serif;
}

h1, h2{
  font-weight: bolder;
  font-size: 1.5rem;
}
p{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
h2 {
  text-transform: uppercase;
  text-align: center;
}

section h4 {
  font-weight: bolder;
  font-size: 1.5rem;  
  margin-bottom: 0;
}
section h5 {
  font-size: 1.3rem;
  margin-top: 3px;
  font-weight: bold;
}
header {
  height: 50%;
}
.navbar {
  background-color: #2B353E;
  height: 40%;
}
.rede-social img {
  padding: 5px;
}
#collapse-navbar {
  border: none;
}
aside {
  height: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
#collapse-navbar{
 background-color: #2B353E;
}
#info {
  transform: translateY(-20%);
  z-index: -1;
}
#info h1, #info h5  {
  text-align: center;
}
#foto-principal {
  width: 150px;
  border-radius: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

#titulo-hobbies {
  padding-top: 20px;
}
#titulo-hobbies h2 {
  margin-top: 5%;
  border-bottom: 1px solid white;
  padding-bottom: 3%;
}
.hobbie-icon {
  margin-top: 10%;
  width: 40px;
  height: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hobbies-hide {
  transition: 0.3s;
  opacity: 0;
}
.secao-corpo{
  margin-top: 25%;
  border-top: 1px solid grey;
}
.secao-corpo h2 {
    margin-top: 30px;
  padding-bottom: 10px;
}
.secao-corpo p {
  text-indent: 15px ;
  text-align: justify;
}
.progress-bar{
  border-radius: 10px;
}
.progress{
  background-color: #8F98A9;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}
.skills h3{
  text-align: center;
}
.skills p{
  font-weight: bolder;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
#habilidades h3{
  font-size: 2.5rem;
}
#telefone{
  letter-spacing: 2px;
}
.detalhes {
  padding-left: 10px;
}
@media (min-width: 758px) {

  .detalhe-titulo{
    padding-left: 20%;
    padding-right: 0;
  }
  .detalhe-descricao {
    padding-left: 0;
  }
  .descricao-detalhe{
    margin-left: 15%;
  }
  .hobbie-icon {
    width: 90px;
    height: 90px;
  }
  .secao-corpo{
    margin-left: 30%;
    transform: translateX(-20%);
  }

}

@media (max-width: 768px) {
  /*-------------------------------------------------------------------------*/
  /*                CRIANDO O BOTAO E REALIZANDO EFEITO DE FECHAR             */
  /*--------------------------------------------------------------------------*/
  .mobile-btn {
    display: block;
    color: white;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    margin: 20px 20px 0 0;
    float: right;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
  }

  .mobile-btn::after, .mobile-btn::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;
  }

  .mobile-btn.active {
    border-top-color: transparent;
  }

  .mobile-btn.active::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
  }

  .mobile-btn.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
  }

}

@media (min-width: 1025px) {
  body, html {
    min-height: 670px;
    max-width: 1600px;
    margin:0;
    width: 100%;
    background-color: #C1CADB;
    overflow: hidden;
  }
  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 0;
  }
  h5{
   font-size: 1.5rem;
 }
 header {
  background-color: #2B353E;
  height: 10%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  border: 0px solid white;
  width: 100%;
  height: 100%;
}
.hobbie-icon {
  width: 60px;
  height: 60px;
}
.detalhe-titulo{
  padding-left: 0%;
}
.descricao-detalhe{
  margin-left: 0%;
}
.secao-corpo{
  opacity: 0;
  border: 0;
  visibility: hidden;
  transform: translate3d(0,0,100px);
  position: absolute;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 90%;
  width: 77%;
  padding-top: 10px;
}
#experiencia-profissional{
  overflow: scroll;
  padding-bottom: 60px;
}
.secao-corpo h2 {
  border: 1px solid white;
  font-weight: normal;
  background-color: #8F98A9;
}
.secao-corpo h4 {
  margin-top: 30px;
}
.descricao-detalhe{
  width: 100%;
}
.secao-corpo p {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 15px ;
}
.skills{
  padding-left: 45px;
  padding-right: 45px;
}
.navbar-collapse {
  width: 100%;
}
.secao-ativa{
  opacity: 1;
  visibility: visible;
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  transform: translate3d(0,0,0);
  transition: 1s;
}
#icon-cook {
  transform: translate(60%,100%);
}
#icon-travel {
  transform: translate(-60%, 100%);
}
#icon-game {
  transform: translate(-50%, 200%);
}
#icon-bike {
  transform: translate(50%, 0%);
}
#hobbies h2{
  margin-top: 0;
  padding-top: 0;
}
#experiencia-profissional h2 {
  padding-bottom: 10px;
}
.nav {
  margin-left: 5rem;
  height: 15px;
}
.navbar li{
  border: 0px solid black;
}
aside{
  float: left;
  width: 23%;
  height: 100%;
  transform: translate(0,0);
  position: relative;
  color: white;
  float: left;
  background-color: #2B353E;

}
#info h1, #info h5{
  text-align: center;
}
#info p  {
  text-align: left;
}

#info {
  text-align: left;
  width: 25%;
  transform: translate(0, 0);
}
.descricao-detalhe{
  padding-top: 30px;
}
#foto-principal {
  border-radius: 100%;
  margin-left: 50%;
  border-radius: 0;
  width: 60%;
}
#collapse-navbar{
  margin-left: 50px;
}
#collapse-navbar ul {
  margin-left: 20%;
  margin-top: 3%;
  border: none;
}
#collapse-navbar ul li{
 padding-right: 0.5rem;
}
#collapse-navbar ul li a {
  background-color: #C1CADB;
  border-bottom: none;
  color: #2B353E;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateY(-5%);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  letter-spacing: 0.2rem;
  border-top: 2px solid white;
-webkit-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.50);
box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.50);
}

#collapse-navbar ul li .botao-ativo{
  transform: translateY(6%);
}
.progress-bar {
  text-align: left;
  height: 100%;
}

}














